//========================
// Hero
//========================
.hero
	height 30vh
	display flex
	align-items center
	justify-content center
	flex-direction column
	position relative
	padding 1em
	background-size cover
	background-position 50%
	background-repeat no-repeat
	
	$dem = darken(saturate($dem, 10), 10)
	$gop = darken(saturate($gop, 10), 10)

	background-image linear-gradient(to left, rgba($dem, .75), rgba($gop, .75)),
							url($assets-path + 'img/landing-hero.jpg')
	
	border-bottom 4px solid transparent
	border-image linear-gradient(to left, $gop, $dem)
	border-image-slice 1

	+mq('bp-2')
		height 40vh
	
	&--hed
		font($miller-banner, $bold)
		color $offwhite
		text-align center
		font-size 1.5em
		line-height 1
		text-shadow 0px 0px 8px #333
		
		+mq('bp-2')
			font-size 3em
	
	&--bottom
		position absolute
		bottom -0.5em
		left 0
		right 0
		width 100%
		text-align center
		
		+mq('bp-2')
			bottom -1em
		
		> *
			display inline-block
			background-color #fff
			width 10em
			border-radius 3px
