.display-none
	display none

.container
	width 90%
	max-width 40em
	margin 0 auto
	padding 1.5em 0

.test-status
	background red
	font($benton, bold)
	color $offwhite
	text-align center
	padding 0.5em 1em


// Ads :(
.ad-slot
	text-align center
	border-top 1px solid $lt-gray
	border-bottom 1px solid $lt-gray
	padding 0.5em 0
	margin-bottom 3em
	
	&--overline
		font($benton)
		font-size 0.75em
		color #666
		margin-bottom 0.5em
		
		a
			font-weight bold
		
		span:after
			content '|'
			display inline-block
			margin 0 0.5em
			color $lt-gray