//========================
// Subnav
//========================
.subnav
	position relative
	margin-bottom 1em
	
	&--list
		list-style-type none
		display flex
		justify-content space-between
		flex-direction column
		
		+mq('bp-1')
			flex-direction row
	
	&--item
		text-align center
		margin-bottom 1em
		
		&:last-child
			margin-bottom 0
		