<div class='delegate-tracker-container'>
	<div id='presidential-delegate-tracker-democratic' class='delegate-tracker'></div>
	<script src='https://apps.bostonglobe.com/common/js/pym/pym-0.4.5.min.js' type='text/javascript'></script>
	<script>
	(function() {
		//===================================================
		// Choose the party and number of candidates to show
		//===================================================

		/*	Usage: party-number,

			ex. just 2 democrats:
				'dem-2',
			
			ex. both parties, 2 dems 3 gop:
				'dem-2',
				'gop-3',
		*/

		var options = [
			'dem-2',
		];

		var version = '?v=' + Date.now();
		var customParams = '&options=' + encodeURIComponent(options.join(',')) + '&source=hide';

		// TODO fill in src here once published
		var base = '//c.o0bg.com/rw/Boston/2011-2020/WebGraphics/Politics/BostonGlobe.com/2016/02/delegateTrackerWidget/index.html'
		var src = base + version + customParams;

		var pymParent = new pym.Parent('presidential-delegate-tracker-democratic', src, {});
		pymParent.onMessage('height-request', function(msg) { pymParent.sendMessage('height-send', window.innerHeight); });
	})();
	
	</script>

	<div id='presidential-delegate-tracker-republican' class='delegate-tracker'></div>

	<script>
	(function() {
		//===================================================
		// Choose the party and number of candidates to show
		//===================================================

		/*	Usage: party-number,

			ex. just 2 democrats:
				'dem-2',
			
			ex. both parties, 2 dems 3 gop:
				'dem-2',
				'gop-3',
		*/

		var options = [
			'gop-2',
		];

		var version = '?v=' + Date.now();
		var customParams = '&options=' + encodeURIComponent(options.join(',')) + '&source=hide';

		// TODO fill in src here once published
		var base = '//c.o0bg.com/rw/Boston/2011-2020/WebGraphics/Politics/BostonGlobe.com/2016/02/delegateTrackerWidget/index.html'
		var src = base + version + customParams;

		var pymParent = new pym.Parent('presidential-delegate-tracker-republican', src, {});
		pymParent.onMessage('height-request', function(msg) { pymParent.sendMessage('height-send', window.innerHeight); });
	})();
	</script>
</div>