<div class='teasers'>
	<ul class='teasers--list'>
		{{#each teasers}}
			<li class='teasers--item'>
				<a class='teasers--link' href='{{link}}?p1=BG_election_recirc' style="background-image: linear-gradient(rgba(0,0,0, 0.3), rgba(0,0,0,0.4)), url({{image}});">
					<h3 class='teasers--hed'>{{hed}}</h3>
				</a>
			</li>
		{{/each}}
	</ul>
</div>

