<div class='teasers'>
	<ul class='teasers--list'>
		<li class='teasers--item'>
			<a class='teasers--link' href='https://groundgame.bostonglobe.com/' style="background-image: linear-gradient(rgba(0,0,0, 0.3), rgba(0,0,0,0.4)), url(https://apps.bostonglobe.com/election-results/2016/static/img/ground-game-tz.jpg);">
				<h3 class='teasers--hed'>Ground Game: Inside the presidential primaries</h3>
			</a>
		</li>
		<li class='teasers--item'>
			<a class='teasers--link' href='{{teasers.link}}' style="background-image: linear-gradient(rgba(0,0,0, 0.3), rgba(0,0,0,0.4)), url({{teasers.image}});">
				<h3 class='teasers--hed'>{{teasers.hed}}</h3>
			</a>
		</li>
	</ul>
</div>

